{% extends 'base.html' %}
{% block content %}

<div id='about-bio'>
	<h3>About Caren</h3>
	<p>PERSONAL & PROFESSIONAL BIO</p>
<h2>My Story</h2>
<p>
Growing up in Berkeley, CA in the 1980's & '90s, I was a very sensitive child. I remember doing group work from an early age.  I always wanted to play group games and have fun. I used to make up performances for my parents' friends. I even remember setting up my stuffed animals in a circle and talking to them!

Now, as a therapist & group facilitator, I have the opportunity to be with people for a living.  I love to ask people, "What did you just naturally do as a child?  What games did you like to play?"  Sometimes that can give us a lot of information about who we are and what we want in life.

In my life, I have experienced several traumas that left me with feelings of mistrust, numbness, hyper vigilance, shame and guilt.  I have experienced depression, anxiety, and intense anger.  I have also experienced great joy, gratitude and spiritual connection. I have done and continue to do my own healing, which has allowed me to feel this intense range of feelings with less fear. 

Therapy is one interest I have pursued because of my curiosity about how people survive terrible experiences.  What causes some people to thrive while others struggle so desperately? I have committed my life to building safe spaces for people to rebuild trust and a sense of belonging - experiences I believe are intensely lacking in our modern, product-oriented culture.  

I believe that all of us are connected, we have all experienced difficulties and it is up to us to create a supportive network for ourselves and each other.  How do we do this?  By working on our own healing while simultaneously building community with others.
</p> 
</div>
	<div id="approach"> 
<h2>My Approach as a Therapist</h2>
<p>
In everything I do personally and professionally, I see myself first as a member of a community.  I carry a deep love for people and for the planet, and have centered my life around doing whatever I can to help heal the pain in our society.  Over the years, I have come to believe in the power of each of us to work with ourselves and our own strengths & limitations. 

Through my exploration of my own identities as a white, cis-gender, queer female, I have discovered…  I support people to increase awareness of the ways our true selves exist inside the context of societal conditioning, and have found this is a powerful tool to give us the strength to work toward discovering what it might mean to create a more inclusive society. 

I seek to help those who are passionate about social justice, ready to form community, and who are interested in what it takes to generate a sense of belonging – first from inside yourself and then to extend out to others, and then to become leaders creating safe spaces in society.

As a social justice & community-oriented therapist, I am always asking: “how does each person's individual healing relate to building a more supportive & equitable society?  I believe there is an intimate relationship between our own healing and the healing of society, and look forward to exploring this question with you.
</p>
<p>
I believe strongly that community work is central to social change, and because of this, I work exclusively with those who are currently participating in a group of some sort that is working on social justice issues.  Examples include:
<li>Process groups exploring internalized oppression or white supremacy conditioning</li>
<li>Activist / Organizing groups</li>
<li>Non-profit work environments</li>
<li>Mental health agencies</li>
<li>Schools</li>
If you would like to work with me and do not currently participate in any sort of group work, I encourage you to check the "Resources" page of this website, and would be glad to talk with you about what group might be best for you.

</p>
</div>

<div id= 'Professional-Experience'>
	<h3>Professional Qualifications</h3>
	<h2>Therapy Experience</h2>
	<p>
	<ol>
		<li>Provided therapy in school, community, individual and group therapy settings with children, teens & adults, 2007-present
		</li>
	</ol>


	<h2>Certifications and Training</h2>
	<ul>
		<li>Registered Marriage and Family Therapist, year-present</li>
		<li>Generative Somatics: Level 1, year</li>
		<li>Eye Movement Desensitization and Reprocessing Levels 1 & 2 (EMDR, alleviating distress from trauma), year</li>
		<li>Advanced facilitation training with Robert Horton & Rita Shimmin, The UNtraining, year-present</li>
	</ul>

	<h2>Leadership</h2>
	<ul>
		<li>The UNtraining: Healing from Social Oppressions, Teacher, Teaching Team Member and … , 2007-present</li>
		<li>California Association of Marriage and Family Therapists (CAMFT), Member, year-present</li>
	</ul>
	<h2>Formal Education</h2>
	<ul>
		<li>M.S.:  Counseling Psychology, San Francisco State University</li>
		<li>B.A.: Women's Studies, Mills College</li>
	</ul>
	</p>
</div>

{% endblock %}