<!DOCTYPE HTML>
<html>



	<head>
		<link href='http://fonts.googleapis.com/css?family=Architects+Daughter|Permanent+Marker' rel='stylesheet' type='text/css'>

		<title>Caren Ohlson, MFT</title>

		<script src="https://code.jquery.com/jquery.js"></script>
	<style>

	#footer{
		height: 100px
		text-align: center;

	}

	</style>
		
	</head>

	<body>
<div id="container">

		<div id="header">
			<title>Caren MFT</title>
			<p class= "header-Text"></p>
			<h1>Caren Ohlson, MFT</h1>
			<h2>Therapist for Community Organizers & Leaders</h2>
		

			<nav class= "navbarButton">
			<h1>
			<a href="/">Home |</a>
			<a href="/about">About Me |</a>
			<a href="/fees">Fees |</a>
			<a href="/Resources">Resources |</a>
			<a href="/contact">Contact</a>
			</h1>
			</nav>
		</div>

		<div id="main">
			{% block content %} 
				
			{% endblock %}
		</div>

	   <div id= "sidebar">
			<p>
				<h3>Would you like to create more ease, connection & effectiveness in your relationships with others? Are you experiencing obstacles in your activism, non-profit workplace or group anti-oppression work?

				I am a licensed therapist specializing in individual support for people who are committed to working with others for social justice.</h3>
			</p>
		</div>

		<div id="footer">
			<p class ="footer-Text">
			<h4>Copyright &copy; 2015 Keirra Hall
			</h4>
			</p>	
		</div>
</div>
	</body>

</html>


