<!DOCTYPE HTML>
<html>



	<head>
		<link href='http://fonts.googleapis.com/css?family=Architects+Daughter|Permanent+Marker' rel='stylesheet' type='text/css'>

		<title>Caren Ohlson, MFT</title>

		<script src="https://code.jquery.com/jquery.js"></script>
	<style>

	#footer{
		height: 100px
		text-align: center;

	}

	</style>
		
	</head>

	<body>
<div id="container">

		<div id="header">
			<title>Caren MFT</title>
			<p class= "header-Text"></p>
			<h1>Caren Ohlson, MFT</h1>
			<h3>Therapist for Community Organizers & Leaders</h3>
		

			<nav class= "navbarButton">
			<h1>
			<a href="/">Home |</a>
			<a href="/about">About Me |</a>
			<a href="/fees">Fees |</a>
			<a href="/contact">Contact</a>
			</h1>
			</nav>
		</div>
		<div id="main">
			{% block content %} 
				
			{% endblock %}
		</div>

		<div id="footer">
			<p class ="footer-Text">
			Copyright &copy; 2015 Keirra Hall 
			</p>	
		</div>
</div>
	</body>

</html>


