{% extends 'base.html' %}
{% block content %}
	
<div id='home-welcome'>
	<h3>Welcome</h3>
	<p id= "welcome-paragraph">
Would you like to create more ease, connection & effectiveness in your relationships with others? Are you experiencing obstacles in your activism, non-profit workplace or group anti-oppression work?

I am a licensed therapist specializing in individual support for people who are committed to working with others for social justice.
	</p>

</div>



{% endblock %}

























