{% extends 'base.html' %}
{% block content %}

<div id='resources'>
	<h1>Resources</h1>
	<p>
	<h2>Here is a link to resources that I think will be helpful.
	</h2>
	</p>
</div>
<div id='links'>
	<p>
		
			<nav class= "resource-list">
		<h3>
			<a href="http://www.untraining.org">The Untraining</a>

			<a href="http://www.bepresent.org/">Be Present</a>

			<a href="http://www.eastbaymeditation.org/">East Bay Meditation</a>
			
			<a href="http://collectiveliberation.org/">The Catylist Project</a>
			<a href="http://www.showingupforracialjustice.org/">Surj
			</a>
			
			</nav>

		</h3>
	</p>
</div>
{% endblock %}